@import url('https://fonts.googleapis.com/css?family=Arsenal');
body {
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family:'Arsenal';
    background: #EDFBFF;
    text-align:center;
}

.head {
    background:white;
    border-bottom:1px solid black;
}

.head h1 {
    margin:5px;
}

.head h2 {
    margin:5px;
}

.head h3 {
    font-weight:normal;
    margin:10px;
}

.head p {
    font-size:10px;
    margin:5px;    
}

#enter {
    background:white;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x .tick text {
    font-size:7px;
}

.axis--x path {
    display: none;
}