head
    script(src='/js/d3.js')
    script(src='/js/jquery-3.1.1.min.js')
    link(href='/css/home.css', rel='stylesheet')

    title DataViz
body
    div.head
        h1 DataViz
        p Visualize Anything 
        p Utilizing the D3.js library
        
        
    
    script(src='/js/home.js')