head
    script(src='/js/d3.js')
    script(src='/js/jquery-3.1.1.min.js')
    link(href='/css/home.css', rel='stylesheet')

    title NYT Trends
body
    div.top
        div.head
            img.logo(src='/images/trends.png')
            h3 These are the news-worthy and hot-topic NYT keywords of the past. Enter a year and find out what NYT readers have cared about since 1852.
            div.credits
                p Utilizing the D3.js library and NYT Archive API (and a few other libraries). By 
                    a(href='https://www.github.com/34ndju' style="text-decoration:underline; color:blue;") 
                        span Nathan Ju
                a(href='https://www.d3js.org')
                    img(src='/images/d3.png')
                a(href='https://www.nytimes.com')
                    img(src='/images/nyt.png')
    
    form.input
        input#year(type='text', maxlength='4')
        div#enter
            p Enter

    script(src='/js/home.js')